{% extends 'layout/_layout.twig' %} {% block title %} GulpStarter- Home {%
endblock %} {% block javascripts %} {% endblock %} {% block contents %}
<div class="page-top">
  <div class="body">
    <h1>Welcome To Gulp Starter</h1>
    <div class="gitlink">
      <a href="https://github.com/sonangrai/gulpstarter" target="_blank">
        <span>Readme</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
