{% extends 'layout/_layout.twig' %}

{% block title %}
  Homepage
{% endblock %}
{% block javascripts %}

{% endblock %}

{% block contents %}
  <div class="page-top">
    <h2>
      Hello World
    </h2>
  </div>
{% endblock %}
